#yellow{
	background-color: yellow;
	border: 1px solid green;
	border-width: 1px;
}
#red{
	background-color: red;
	border-width: 1px;
	border: 1px solid black;
	
}
#green{
	border-width: 1px;
	background-color: green;
	border: 1px solid yellow;
}
